/*********************************************************************
 *                                                                   *
 * MODULE NAME :  nbbase.rc             			     *
 * DATE WRITTEN:  1992-10-17                                         *
 *                                                                   *
 * DESCRIPTION:                                                      *
 *                                                                   *
 *  Resource file for NBBASE.EXE.                                    *
 *                                                                   *
 * HISTORY:                                                          *
 *                                                                   *
 *  10-17-92 - File Created                                          *
 *                                                                   *
 *                                                                   *
 *********************************************************************/

#include <os2.h>
#include "nbbase.h"

ICON ID_NBWINFRAME nbbase.ico

rcinclude nbbase.dlg

/*********************************************************************
 *                    E N D   O F   S O U R C E                      *
 *********************************************************************/
